<a href="https://colab.research.google.com/github/SHIVAM1KUMAR/PythonMLDS/blob/main/Copy_of_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Reverse a number DAY ONE SCE
list1=[10,202,30,4,0]
list1.reverse()
print(list1)

[0, 4, 30, 202, 10]

In [2]:
list1=[10,202,30,4,0]
list1=list1[::-1]
print(list1)

[0, 4, 30, 202, 10]

In [3]:
#Concatenation
list1=["M","na","i","Shivam"]
list2=["y","me","s","Kumar"]
list3=[i+ j for i,j in zip(list1,list2)]
print(list3)

['My', 'name', 'is', 'ShivamKumar']

In [4]:
#Turn every no.in Square
number=[1,2,3,4,5]
res=[]
for i in number:
  res.append(i*i)

print(res)

[1, 4, 9, 16, 25]

In [5]:
list1=["hello","take"]
list2=["Dear","sir"]
res=[x+y for x in list1 for y in list2]
print(res)

['helloDear', 'hellosir', 'takeDear', 'takesir']

In [6]:
list1=[10,20,30,4]
list2=[100,200,300,400]

for x,y in zip(list1,list2[::-1]):
  print(x,y)

10 400
20 300
30 200
4 100

In [9]:
#Add new item to list after a specified item
list1=[10,20,[300,400,[5000,6000],500],30,40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [10]:
# prompt: Extend nested list by adding the sublist

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
sub_list = [7000, 8000]
list1[2][2].extend(sub_list)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000, 8000], 500], 30, 40]

In [11]:
# prompt: Replace list item with new value if found

list1 = [5, 10, 15, 20, 25, 50, 20]

# Replace 20 with 200
for i in range(len(list1)):
  if list1[i] == 20:
    list1[i] = 200
    break

print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [13]:
list1=[5,20,15,20,25,50,20]

def remove_value(sample_list,val):
  return [i for i in sample_list if i!=val]

res=remove_value(list1,20)
print(res)

[5, 15, 25, 50]