<a href="https://colab.research.google.com/github/SHIVAM1KUMAR/PythonMLDS/blob/main/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [3]:
# Write code here
sailairy=int(input("Enter sailary"))
HRA=10/100*sailairy
DA=5/100*sailairy
PF=3/100*sailairy
if sailairy<5:
  print("no tax")
  print(sailairy-HRA-DA-PF)
elif sailairy ==10:
 print("tax is 10%")
 print(sailairy-HRA-DA-PF)
elif sailairy ==20:
  print("tax is 20%")
  print(sailairy-HRA-DA-PF)
else:
  print("tax is 30%")
  print(sailairy-HRA-DA-PF)

Enter sailary5
tax is 30%
4.1

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [6]:
# Write code here
#takre three angle as input
a=int(input("enter first angle"))
b=int(input("enter second angle"))
c=int(input("enter third angle"))
if a+b+c==180:
  a==90 or b==90 or c==90

  print("it is a triangle")
else:
  print("it is not a triangle")

enter first angle85
enter second angle85
enter third angle20
it is not a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [9]:
# Write code here
sellingprice=int(input("enter selling price"))
costprice=int(input("enter cost price"))
if sellingprice>costprice:
  print("profit")
else:
  print("loss")

enter selling price51
enter cost price50
profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [10]:
# Write code here
cm=int(input("enter cm"))
ft=cm/30.48
print(ft)

km=int(input("enter km"))
miles=km*0.62137
print(miles)

usd=int(input("enter usd"))
inr=usd*77
print(inr)

exit=input("enter exit")
print(exit)

enter cm100
3.2808398950131235
enter km100
62.137
enter usd100
enter exitexit
7700
exit

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [11]:
# Write code here
a=0
b=1
for i in range(10):
  c=a+b
  print(c)
  a=b
  b=c

1
2
3
5
8
13
21
34
55
89

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [15]:
# Write code here
n=5
fact=1
for i in range(1,n+1):
  fact=fact*i
  print(fact)

1
2
6
24
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here
n=76542
rev=0
while n>0:
  rem=n%10
  rev=rev*10+rem
  n=n//10
print(rev)

In [17]:
n=76542
rev=int(str(n)[::-1])
print(rev)

24567

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here
n=int(input("enter number"))
sum=0
for i in range(1,n+1):
  if i%5==0:
    continue
  sum=sum+i
  if sum>300:
    break
print(sum)

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [18]:
# Write code here
n=int(input("enter number"))
sum=0
count=0
while n!=0:
  sum=sum+n
  count=count+1
  n=int(input("enter number"))
print(sum)
print(sum/count)

enter number10
enter number1
enter number2
enter number5
enter number0
18
4.5

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here
n=int(input("enter number"))
for i in range(2000,3201):
  if i%7==0 and i%5!=0:
    print(i)

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here
n=int(input("enter number"))
for i in range(1000,3001):
  if i%2==0:
    print(i)

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here
n=int(input("enter number"))
for i in range(2,n):
  if n%i==0:
    print("not prime")
    break
else:
  print("prime")

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [19]:
# Write code here
n=int(input("enter number"))
for i in range(1,n+1):
  sum=0
  for j in str(i):
    sum=sum+int(j)**3
  if sum==i:
    print(i)

enter number242
1
153

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here
h=int(input("enter hour"))
m=int(input("enter minute"))
h_angle=0.5*(h*60+m)
m_angle=6*m
angle=abs(h_angle-m_angle)
if angle>180:
  print(360-angle)

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here